<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>colors</key>
	<array>
		<dict>
			<key>alpha</key>
			<string>ff</string>
			<key>blue</key>
			<string>66</string>
			<key>green</key>
			<string>96</string>
			<key>name</key>
			<string>ArticleBody</string>
			<key>red</key>
			<string>33</string>
			<key>rgb</key>
			<string>339666</string>
			<key>rgba</key>
			<string>339666ff</string>
		</dict>
		<dict>
			<key>alpha</key>
			<string>ff</string>
			<key>blue</key>
			<string>cc</string>
			<key>green</key>
			<string>66</string>
			<key>name</key>
			<string>ArticleFootnote</string>
			<key>red</key>
			<string>ff</string>
			<key>rgb</key>
			<string>ff66cc</string>
			<key>rgba</key>
			<string>ff66ccff</string>
		</dict>
		<dict>
			<key>alpha</key>
			<string>ff</string>
			<key>blue</key>
			<string>66</string>
			<key>green</key>
			<string>fe</string>
			<key>name</key>
			<string>ArticleTitle</string>
			<key>red</key>
			<string>33</string>
			<key>rgb</key>
			<string>33fe66</string>
			<key>rgba</key>
			<string>33fe66ff</string>
		</dict>
		<dict>
			<key>alpha</key>
			<string>cc</string>
			<key>blue</key>
			<string>ff</string>
			<key>green</key>
			<string>ff</string>
			<key>name</key>
			<string>private</string>
			<key>red</key>
			<string>ff</string>
			<key>rgb</key>
			<string>ffffff</string>
			<key>rgba</key>
			<string>ffffffcc</string>
		</dict>
	</array>
	<key>enumName</key>
	<string>ColorName</string>
	<key>param</key>
	<dict>
		<key>enumName</key>
		<string>ColorName</string>
	</dict>
</dict>
</plist>
