<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>colors</key>
	<array/>
	<key>enumName</key>
	<string>ColorName</string>
	<key>param</key>
	<dict>
		<key>enumName</key>
		<string>ColorName</string>
	</dict>
</dict>
</plist>
