<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>colors</key>
	<array>
		<dict>
			<key>alpha</key>
			<string>99</string>
			<key>blue</key>
			<string>00</string>
			<key>green</key>
			<string>cc</string>
			<key>name</key>
			<string>ArticleBackground</string>
			<key>red</key>
			<string>ff</string>
			<key>rgb</key>
			<string>ffcc00</string>
			<key>rgba</key>
			<string>ffcc0099</string>
		</dict>
		<dict>
			<key>alpha</key>
			<string>ff</string>
			<key>blue</key>
			<string>00</string>
			<key>green</key>
			<string>66</string>
			<key>name</key>
			<string>ArticleTitle</string>
			<key>red</key>
			<string>99</string>
			<key>rgb</key>
			<string>996600</string>
			<key>rgba</key>
			<string>996600ff</string>
		</dict>
		<dict>
			<key>alpha</key>
			<string>ff</string>
			<key>blue</key>
			<string>99</string>
			<key>green</key>
			<string>99</string>
			<key>name</key>
			<string>Text&amp;Body Color</string>
			<key>red</key>
			<string>99</string>
			<key>rgb</key>
			<string>999999</string>
			<key>rgba</key>
			<string>999999ff</string>
		</dict>
	</array>
	<key>enumName</key>
	<string>ColorName</string>
	<key>param</key>
	<dict>
		<key>enumName</key>
		<string>ColorName</string>
	</dict>
</dict>
</plist>
