<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>stringKeys</key>
	<array>
		<string>CFBundleIdentifier</string>
	</array>
	<key>boolKeys</key>
	<array>
		<string>LSRequiresIPhoneOS</string>
	</array>
	<key>dictKeys</key>
	<array>
		<string>NSAppTransportSecurity</string>
	</array>
	<key>dateKeys</key>
	<array>
		<string>SomeDate</string>
	</array>
	<key>dataKeys</key>
	<array>
		<string>SomeData</string>
	</array>
	<key>intKeys</key>
	<array>
		<string>SomeNumber</string>
	</array>
	<key>arrayKeys</key>
	<array>
		<string>ArrayOfManyTypes</string>
	</array>
</dict>
</plist>
