<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>extraImports</key>
	<array/>
	<key>modules</key>
	<array/>
	<key>param</key>
	<dict>
		<key>sceneEnumName</key>
		<string>StoryboardScene</string>
		<key>segueEnumName</key>
		<string>StoryboardSegue</string>
	</dict>
	<key>sceneEnumName</key>
	<string>StoryboardScene</string>
	<key>segueEnumName</key>
	<string>StoryboardSegue</string>
	<key>storyboards</key>
	<array>
		<dict>
			<key>initialScene</key>
			<dict>
				<key>baseType</key>
				<string>ViewController</string>
				<key>isBaseViewController</key>
				<true/>
			</dict>
			<key>name</key>
			<string>Message</string>
			<key>scenes</key>
			<array>
				<dict>
					<key>baseType</key>
					<string>ViewController</string>
					<key>identifier</key>
					<string>Composer</string>
					<key>isBaseViewController</key>
					<true/>
				</dict>
				<dict>
					<key>baseType</key>
					<string>TableViewController</string>
					<key>identifier</key>
					<string>MessagesList</string>
				</dict>
				<dict>
					<key>baseType</key>
					<string>NavigationController</string>
					<key>identifier</key>
					<string>NavCtrl</string>
				</dict>
				<dict>
					<key>customClass</key>
					<string>XXPickerViewController</string>
					<key>customModule</key>
					<string></string>
					<key>identifier</key>
					<string>URLChooser</string>
				</dict>
			</array>
			<key>segues</key>
			<array>
				<dict>
					<key>customClass</key>
					<string>CustomSegueClass2</string>
					<key>identifier</key>
					<string>CustomBack</string>
				</dict>
				<dict>
					<key>customClass</key>
					<string></string>
					<key>identifier</key>
					<string>Embed</string>
				</dict>
				<dict>
					<key>customClass</key>
					<string></string>
					<key>identifier</key>
					<string>NonCustom</string>
				</dict>
				<dict>
					<key>customClass</key>
					<string>CustomSegueClass</string>
					<key>identifier</key>
					<string>Show-NavCtrl</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
