<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>enumName</key>
	<string>L10n</string>
	<key>param</key>
	<dict>
		<key>enumName</key>
		<string>L10n</string>
	</dict>
	<key>strings</key>
	<array>
		<dict>
			<key>key</key>
			<string>alert_message</string>
			<key>keytail</key>
			<string>alert_message</string>
			<key>translation</key>
			<string>Some alert body there</string>
		</dict>
		<dict>
			<key>key</key>
			<string>alert_title</string>
			<key>keytail</key>
			<string>alert_title</string>
			<key>translation</key>
			<string>Title of the alert</string>
		</dict>
		<dict>
			<key>key</key>
			<string>apples.count</string>
			<key>keytail</key>
			<string>apples.count</string>
			<key>parameters</key>
			<array>
				<string>Int</string>
			</array>
			<key>params</key>
			<dict>
				<key>count</key>
				<integer>1</integer>
				<key>declarations</key>
				<array>
					<string>let p0</string>
				</array>
				<key>names</key>
				<array>
					<string>p0</string>
				</array>
				<key>typednames</key>
				<array>
					<string>p0: Int</string>
				</array>
				<key>types</key>
				<array>
					<string>Int</string>
				</array>
			</dict>
			<key>translation</key>
			<string>You have %d apples</string>
		</dict>
		<dict>
			<key>key</key>
			<string>bananas.owner</string>
			<key>keytail</key>
			<string>bananas.owner</string>
			<key>parameters</key>
			<array>
				<string>Int</string>
				<string>String</string>
			</array>
			<key>params</key>
			<dict>
				<key>count</key>
				<integer>2</integer>
				<key>declarations</key>
				<array>
					<string>let p0</string>
					<string>let p1</string>
				</array>
				<key>names</key>
				<array>
					<string>p0</string>
					<string>p1</string>
				</array>
				<key>typednames</key>
				<array>
					<string>p0: Int</string>
					<string>p1: String</string>
				</array>
				<key>types</key>
				<array>
					<string>Int</string>
					<string>String</string>
				</array>
			</dict>
			<key>translation</key>
			<string>Those %d bananas belong to %@.</string>
		</dict>
		<dict>
			<key>key</key>
			<string>ObjectOwnership</string>
			<key>keytail</key>
			<string>ObjectOwnership</string>
			<key>parameters</key>
			<array>
				<string>Int</string>
				<string>String</string>
				<string>String</string>
			</array>
			<key>params</key>
			<dict>
				<key>count</key>
				<integer>3</integer>
				<key>declarations</key>
				<array>
					<string>let p0</string>
					<string>let p1</string>
					<string>let p2</string>
				</array>
				<key>names</key>
				<array>
					<string>p0</string>
					<string>p1</string>
					<string>p2</string>
				</array>
				<key>typednames</key>
				<array>
					<string>p0: Int</string>
					<string>p1: String</string>
					<string>p2: String</string>
				</array>
				<key>types</key>
				<array>
					<string>Int</string>
					<string>String</string>
					<string>String</string>
				</array>
			</dict>
			<key>translation</key>
			<string>These are %3$@'s %1$d %2$@.</string>
		</dict>
		<dict>
			<key>key</key>
			<string>private</string>
			<key>keytail</key>
			<string>private</string>
			<key>parameters</key>
			<array>
				<string>String</string>
				<string>Int</string>
			</array>
			<key>params</key>
			<dict>
				<key>count</key>
				<integer>2</integer>
				<key>declarations</key>
				<array>
					<string>let p0</string>
					<string>let p1</string>
				</array>
				<key>names</key>
				<array>
					<string>p0</string>
					<string>p1</string>
				</array>
				<key>typednames</key>
				<array>
					<string>p0: String</string>
					<string>p1: Int</string>
				</array>
				<key>types</key>
				<array>
					<string>String</string>
					<string>Int</string>
				</array>
			</dict>
			<key>translation</key>
			<string>Hello, my name is %@ and I'm %d</string>
		</dict>
		<dict>
			<key>key</key>
			<string>settings.navigation-bar.self</string>
			<key>keytail</key>
			<string>settings.navigation-bar.self</string>
			<key>translation</key>
			<string>Some Reserved Keyword there</string>
		</dict>
		<dict>
			<key>key</key>
			<string>settings.navigation-bar.title.deeper.than.we.can.handle.no.really.this.is.deep</string>
			<key>keytail</key>
			<string>settings.navigation-bar.title.deeper.than.we.can.handle.no.really.this.is.deep</string>
			<key>translation</key>
			<string>DeepSettings</string>
		</dict>
		<dict>
			<key>key</key>
			<string>settings.navigation-bar.title.even.deeper</string>
			<key>keytail</key>
			<string>settings.navigation-bar.title.even.deeper</string>
			<key>translation</key>
			<string>Settings</string>
		</dict>
		<dict>
			<key>key</key>
			<string>seTTings.uSer-proFile-sectioN.footer_text</string>
			<key>keytail</key>
			<string>seTTings.uSer-proFile-sectioN.footer_text</string>
			<key>translation</key>
			<string>Here you can change some user profile settings.</string>
		</dict>
		<dict>
			<key>key</key>
			<string>SETTINGS.USER_PROFILE_SECTION.HEADER_TITLE</string>
			<key>keytail</key>
			<string>SETTINGS.USER_PROFILE_SECTION.HEADER_TITLE</string>
			<key>translation</key>
			<string>User Profile Settings</string>
		</dict>
	</array>
	<key>structuredStrings</key>
	<dict>
		<key>strings</key>
		<array>
			<dict>
				<key>key</key>
				<string>alert_message</string>
				<key>keytail</key>
				<string>alert_message</string>
				<key>translation</key>
				<string>Some alert body there</string>
			</dict>
			<dict>
				<key>key</key>
				<string>alert_title</string>
				<key>keytail</key>
				<string>alert_title</string>
				<key>translation</key>
				<string>Title of the alert</string>
			</dict>
			<dict>
				<key>key</key>
				<string>ObjectOwnership</string>
				<key>keytail</key>
				<string>ObjectOwnership</string>
				<key>parameters</key>
				<array>
					<string>Int</string>
					<string>String</string>
					<string>String</string>
				</array>
				<key>params</key>
				<dict>
					<key>count</key>
					<integer>3</integer>
					<key>declarations</key>
					<array>
						<string>let p0</string>
						<string>let p1</string>
						<string>let p2</string>
					</array>
					<key>names</key>
					<array>
						<string>p0</string>
						<string>p1</string>
						<string>p2</string>
					</array>
					<key>typednames</key>
					<array>
						<string>p0: Int</string>
						<string>p1: String</string>
						<string>p2: String</string>
					</array>
					<key>types</key>
					<array>
						<string>Int</string>
						<string>String</string>
						<string>String</string>
					</array>
				</dict>
				<key>translation</key>
				<string>These are %3$@'s %1$d %2$@.</string>
			</dict>
			<dict>
				<key>key</key>
				<string>private</string>
				<key>keytail</key>
				<string>private</string>
				<key>parameters</key>
				<array>
					<string>String</string>
					<string>Int</string>
				</array>
				<key>params</key>
				<dict>
					<key>count</key>
					<integer>2</integer>
					<key>declarations</key>
					<array>
						<string>let p0</string>
						<string>let p1</string>
					</array>
					<key>names</key>
					<array>
						<string>p0</string>
						<string>p1</string>
					</array>
					<key>typednames</key>
					<array>
						<string>p0: String</string>
						<string>p1: Int</string>
					</array>
					<key>types</key>
					<array>
						<string>String</string>
						<string>Int</string>
					</array>
				</dict>
				<key>translation</key>
				<string>Hello, my name is %@ and I'm %d</string>
			</dict>
		</array>
		<key>subenums</key>
		<array>
			<dict>
				<key>name</key>
				<string>Apples</string>
				<key>strings</key>
				<array>
					<dict>
						<key>key</key>
						<string>apples.count</string>
						<key>keytail</key>
						<string>count</string>
						<key>parameters</key>
						<array>
							<string>Int</string>
						</array>
						<key>params</key>
						<dict>
							<key>count</key>
							<integer>1</integer>
							<key>declarations</key>
							<array>
								<string>let p0</string>
							</array>
							<key>names</key>
							<array>
								<string>p0</string>
							</array>
							<key>typednames</key>
							<array>
								<string>p0: Int</string>
							</array>
							<key>types</key>
							<array>
								<string>Int</string>
							</array>
						</dict>
						<key>translation</key>
						<string>You have %d apples</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>Bananas</string>
				<key>strings</key>
				<array>
					<dict>
						<key>key</key>
						<string>bananas.owner</string>
						<key>keytail</key>
						<string>owner</string>
						<key>parameters</key>
						<array>
							<string>Int</string>
							<string>String</string>
						</array>
						<key>params</key>
						<dict>
							<key>count</key>
							<integer>2</integer>
							<key>declarations</key>
							<array>
								<string>let p0</string>
								<string>let p1</string>
							</array>
							<key>names</key>
							<array>
								<string>p0</string>
								<string>p1</string>
							</array>
							<key>typednames</key>
							<array>
								<string>p0: Int</string>
								<string>p1: String</string>
							</array>
							<key>types</key>
							<array>
								<string>Int</string>
								<string>String</string>
							</array>
						</dict>
						<key>translation</key>
						<string>Those %d bananas belong to %@.</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>Settings</string>
				<key>subenums</key>
				<array>
					<dict>
						<key>name</key>
						<string>Navigation_Bar</string>
						<key>strings</key>
						<array>
							<dict>
								<key>key</key>
								<string>settings.navigation-bar.self</string>
								<key>keytail</key>
								<string>self</string>
								<key>translation</key>
								<string>Some Reserved Keyword there</string>
							</dict>
						</array>
						<key>subenums</key>
						<array>
							<dict>
								<key>name</key>
								<string>Title</string>
								<key>subenums</key>
								<array>
									<dict>
										<key>name</key>
										<string>Deeper</string>
										<key>subenums</key>
										<array>
											<dict>
												<key>name</key>
												<string>Than</string>
												<key>subenums</key>
												<array>
													<dict>
														<key>name</key>
														<string>We</string>
														<key>subenums</key>
														<array>
															<dict>
																<key>name</key>
																<string>Can</string>
																<key>subenums</key>
																<array>
																	<dict>
																		<key>name</key>
																		<string>Handle</string>
																		<key>subenums</key>
																		<array>
																			<dict>
																				<key>name</key>
																				<string>No</string>
																				<key>subenums</key>
																				<array>
																					<dict>
																						<key>name</key>
																						<string>Really</string>
																						<key>subenums</key>
																						<array>
																							<dict>
																								<key>name</key>
																								<string>This</string>
																								<key>subenums</key>
																								<array>
																									<dict>
																										<key>name</key>
																										<string>Is</string>
																										<key>strings</key>
																										<array>
																											<dict>
																												<key>key</key>
																												<string>settings.navigation-bar.title.deeper.than.we.can.handle.no.really.this.is.deep</string>
																												<key>keytail</key>
																												<string>deep</string>
																												<key>translation</key>
																												<string>DeepSettings</string>
																											</dict>
																										</array>
																									</dict>
																								</array>
																							</dict>
																						</array>
																					</dict>
																				</array>
																			</dict>
																		</array>
																	</dict>
																</array>
															</dict>
														</array>
													</dict>
												</array>
											</dict>
										</array>
									</dict>
									<dict>
										<key>name</key>
										<string>Even</string>
										<key>strings</key>
										<array>
											<dict>
												<key>key</key>
												<string>settings.navigation-bar.title.even.deeper</string>
												<key>keytail</key>
												<string>deeper</string>
												<key>translation</key>
												<string>Settings</string>
											</dict>
										</array>
									</dict>
								</array>
							</dict>
						</array>
					</dict>
					<dict>
						<key>name</key>
						<string>User_Profile_Section</string>
						<key>strings</key>
						<array>
							<dict>
								<key>key</key>
								<string>seTTings.uSer-proFile-sectioN.footer_text</string>
								<key>keytail</key>
								<string>footer_text</string>
								<key>translation</key>
								<string>Here you can change some user profile settings.</string>
							</dict>
							<dict>
								<key>key</key>
								<string>SETTINGS.USER_PROFILE_SECTION.HEADER_TITLE</string>
								<key>keytail</key>
								<string>HEADER_TITLE</string>
								<key>translation</key>
								<string>User Profile Settings</string>
							</dict>
						</array>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<key>tableName</key>
	<string>Localizable</string>
	<key>tables</key>
	<array>
		<dict>
			<key>name</key>
			<string>Localizable</string>
			<key>strings</key>
			<dict>
				<key>strings</key>
				<array>
					<dict>
						<key>key</key>
						<string>alert_message</string>
						<key>keytail</key>
						<string>alert_message</string>
						<key>translation</key>
						<string>Some alert body there</string>
					</dict>
					<dict>
						<key>key</key>
						<string>alert_title</string>
						<key>keytail</key>
						<string>alert_title</string>
						<key>translation</key>
						<string>Title of the alert</string>
					</dict>
					<dict>
						<key>key</key>
						<string>ObjectOwnership</string>
						<key>keytail</key>
						<string>ObjectOwnership</string>
						<key>parameters</key>
						<array>
							<string>Int</string>
							<string>String</string>
							<string>String</string>
						</array>
						<key>params</key>
						<dict>
							<key>count</key>
							<integer>3</integer>
							<key>declarations</key>
							<array>
								<string>let p0</string>
								<string>let p1</string>
								<string>let p2</string>
							</array>
							<key>names</key>
							<array>
								<string>p0</string>
								<string>p1</string>
								<string>p2</string>
							</array>
							<key>typednames</key>
							<array>
								<string>p0: Int</string>
								<string>p1: String</string>
								<string>p2: String</string>
							</array>
							<key>types</key>
							<array>
								<string>Int</string>
								<string>String</string>
								<string>String</string>
							</array>
						</dict>
						<key>translation</key>
						<string>These are %3$@'s %1$d %2$@.</string>
					</dict>
					<dict>
						<key>key</key>
						<string>private</string>
						<key>keytail</key>
						<string>private</string>
						<key>parameters</key>
						<array>
							<string>String</string>
							<string>Int</string>
						</array>
						<key>params</key>
						<dict>
							<key>count</key>
							<integer>2</integer>
							<key>declarations</key>
							<array>
								<string>let p0</string>
								<string>let p1</string>
							</array>
							<key>names</key>
							<array>
								<string>p0</string>
								<string>p1</string>
							</array>
							<key>typednames</key>
							<array>
								<string>p0: String</string>
								<string>p1: Int</string>
							</array>
							<key>types</key>
							<array>
								<string>String</string>
								<string>Int</string>
							</array>
						</dict>
						<key>translation</key>
						<string>Hello, my name is %@ and I'm %d</string>
					</dict>
				</array>
				<key>subenums</key>
				<array>
					<dict>
						<key>name</key>
						<string>Apples</string>
						<key>strings</key>
						<array>
							<dict>
								<key>key</key>
								<string>apples.count</string>
								<key>keytail</key>
								<string>count</string>
								<key>parameters</key>
								<array>
									<string>Int</string>
								</array>
								<key>params</key>
								<dict>
									<key>count</key>
									<integer>1</integer>
									<key>declarations</key>
									<array>
										<string>let p0</string>
									</array>
									<key>names</key>
									<array>
										<string>p0</string>
									</array>
									<key>typednames</key>
									<array>
										<string>p0: Int</string>
									</array>
									<key>types</key>
									<array>
										<string>Int</string>
									</array>
								</dict>
								<key>translation</key>
								<string>You have %d apples</string>
							</dict>
						</array>
					</dict>
					<dict>
						<key>name</key>
						<string>Bananas</string>
						<key>strings</key>
						<array>
							<dict>
								<key>key</key>
								<string>bananas.owner</string>
								<key>keytail</key>
								<string>owner</string>
								<key>parameters</key>
								<array>
									<string>Int</string>
									<string>String</string>
								</array>
								<key>params</key>
								<dict>
									<key>count</key>
									<integer>2</integer>
									<key>declarations</key>
									<array>
										<string>let p0</string>
										<string>let p1</string>
									</array>
									<key>names</key>
									<array>
										<string>p0</string>
										<string>p1</string>
									</array>
									<key>typednames</key>
									<array>
										<string>p0: Int</string>
										<string>p1: String</string>
									</array>
									<key>types</key>
									<array>
										<string>Int</string>
										<string>String</string>
									</array>
								</dict>
								<key>translation</key>
								<string>Those %d bananas belong to %@.</string>
							</dict>
						</array>
					</dict>
					<dict>
						<key>name</key>
						<string>Settings</string>
						<key>subenums</key>
						<array>
							<dict>
								<key>name</key>
								<string>Navigation_Bar</string>
								<key>strings</key>
								<array>
									<dict>
										<key>key</key>
										<string>settings.navigation-bar.self</string>
										<key>keytail</key>
										<string>self</string>
										<key>translation</key>
										<string>Some Reserved Keyword there</string>
									</dict>
								</array>
								<key>subenums</key>
								<array>
									<dict>
										<key>name</key>
										<string>Title</string>
										<key>subenums</key>
										<array>
											<dict>
												<key>name</key>
												<string>Deeper</string>
												<key>subenums</key>
												<array>
													<dict>
														<key>name</key>
														<string>Than</string>
														<key>subenums</key>
														<array>
															<dict>
																<key>name</key>
																<string>We</string>
																<key>subenums</key>
																<array>
																	<dict>
																		<key>name</key>
																		<string>Can</string>
																		<key>subenums</key>
																		<array>
																			<dict>
																				<key>name</key>
																				<string>Handle</string>
																				<key>subenums</key>
																				<array>
																					<dict>
																						<key>name</key>
																						<string>No</string>
																						<key>subenums</key>
																						<array>
																							<dict>
																								<key>name</key>
																								<string>Really</string>
																								<key>subenums</key>
																								<array>
																									<dict>
																										<key>name</key>
																										<string>This</string>
																										<key>subenums</key>
																										<array>
																											<dict>
																												<key>name</key>
																												<string>Is</string>
																												<key>strings</key>
																												<array>
																													<dict>
																														<key>key</key>
																														<string>settings.navigation-bar.title.deeper.than.we.can.handle.no.really.this.is.deep</string>
																														<key>keytail</key>
																														<string>deep</string>
																														<key>translation</key>
																														<string>DeepSettings</string>
																													</dict>
																												</array>
																											</dict>
																										</array>
																									</dict>
																								</array>
																							</dict>
																						</array>
																					</dict>
																				</array>
																			</dict>
																		</array>
																	</dict>
																</array>
															</dict>
														</array>
													</dict>
												</array>
											</dict>
											<dict>
												<key>name</key>
												<string>Even</string>
												<key>strings</key>
												<array>
													<dict>
														<key>key</key>
														<string>settings.navigation-bar.title.even.deeper</string>
														<key>keytail</key>
														<string>deeper</string>
														<key>translation</key>
														<string>Settings</string>
													</dict>
												</array>
											</dict>
										</array>
									</dict>
								</array>
							</dict>
							<dict>
								<key>name</key>
								<string>User_Profile_Section</string>
								<key>strings</key>
								<array>
									<dict>
										<key>key</key>
										<string>seTTings.uSer-proFile-sectioN.footer_text</string>
										<key>keytail</key>
										<string>footer_text</string>
										<key>translation</key>
										<string>Here you can change some user profile settings.</string>
									</dict>
									<dict>
										<key>key</key>
										<string>SETTINGS.USER_PROFILE_SECTION.HEADER_TITLE</string>
										<key>keytail</key>
										<string>HEADER_TITLE</string>
										<key>translation</key>
										<string>User Profile Settings</string>
									</dict>
								</array>
							</dict>
						</array>
					</dict>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
