<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>tables</key>
	<array>
		<dict>
			<key>levels</key>
			<dict>
				<key>strings</key>
				<array>
					<dict>
						<key>key</key>
						<string>Greetings</string>
						<key>name</key>
						<string>Greetings</string>
						<key>translation</key>
						<string>Hello, my name is %@ and I'm %d</string>
						<key>types</key>
						<array>
							<string>String</string>
							<string>Int</string>
						</array>
					</dict>
					<dict>
						<key>key</key>
						<string>Title</string>
						<key>name</key>
						<string>Title</string>
						<key>translation</key>
						<string>My awesome title</string>
					</dict>
				</array>
			</dict>
			<key>name</key>
			<string>Localizable</string>
		</dict>
	</array>
</dict>
</plist>
