<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>enumName</key>
	<string>L10n</string>
	<key>strings</key>
	<array>
		<dict>
			<key>key</key>
			<string>settings.navigation-bar.self</string>
			<key>keytail</key>
			<string>settings.navigation-bar.self</string>
			<key>translation</key>
			<string>Some Reserved Keyword there</string>
		</dict>
		<dict>
			<key>key</key>
			<string>settings.navigation-bar.title.even.deeper</string>
			<key>keytail</key>
			<string>settings.navigation-bar.title.even.deeper</string>
			<key>translation</key>
			<string>Settings</string>
		</dict>
		<dict>
			<key>key</key>
			<string>seTTings.uSer-proFile-sectioN.footer_text</string>
			<key>keytail</key>
			<string>seTTings.uSer-proFile-sectioN.footer_text</string>
			<key>translation</key>
			<string>Here you can change some user profile settings.</string>
		</dict>
		<dict>
			<key>key</key>
			<string>SETTINGS.USER_PROFILE_SECTION.HEADER_TITLE</string>
			<key>keytail</key>
			<string>SETTINGS.USER_PROFILE_SECTION.HEADER_TITLE</string>
			<key>translation</key>
			<string>User Profile Settings</string>
		</dict>
		<dict>
			<key>key</key>
			<string>settings.user_profile_section.points</string>
			<key>keytail</key>
			<string>settings.user_profile_section.points</string>
			<key>parameters</key>
			<array>
				<string>String</string>
				<string>Int</string>
			</array>
			<key>params</key>
			<dict>
				<key>count</key>
				<integer>2</integer>
				<key>declarations</key>
				<array>
					<string>let p0</string>
					<string>let p1</string>
				</array>
				<key>names</key>
				<array>
					<string>p0</string>
					<string>p1</string>
				</array>
				<key>typednames</key>
				<array>
					<string>p0: String</string>
					<string>p1: Int</string>
				</array>
				<key>types</key>
				<array>
					<string>String</string>
					<string>Int</string>
				</array>
			</dict>
			<key>translation</key>
			<string>Welcome %@! You have %d points on your account.</string>
		</dict>
	</array>
	<key>structuredStrings</key>
	<dict>
		<key>subenums</key>
		<array>
			<dict>
				<key>name</key>
				<string>Settings</string>
				<key>subenums</key>
				<array>
					<dict>
						<key>name</key>
						<string>Navigation_Bar</string>
						<key>strings</key>
						<array>
							<dict>
								<key>key</key>
								<string>settings.navigation-bar.self</string>
								<key>keytail</key>
								<string>self</string>
								<key>translation</key>
								<string>Some Reserved Keyword there</string>
							</dict>
						</array>
						<key>subenums</key>
						<array>
							<dict>
								<key>name</key>
								<string>Title</string>
								<key>subenums</key>
								<array>
									<dict>
										<key>name</key>
										<string>Even</string>
										<key>strings</key>
										<array>
											<dict>
												<key>key</key>
												<string>settings.navigation-bar.title.even.deeper</string>
												<key>keytail</key>
												<string>deeper</string>
												<key>translation</key>
												<string>Settings</string>
											</dict>
										</array>
									</dict>
								</array>
							</dict>
						</array>
					</dict>
					<dict>
						<key>name</key>
						<string>User_Profile_Section</string>
						<key>strings</key>
						<array>
							<dict>
								<key>key</key>
								<string>seTTings.uSer-proFile-sectioN.footer_text</string>
								<key>keytail</key>
								<string>footer_text</string>
								<key>translation</key>
								<string>Here you can change some user profile settings.</string>
							</dict>
							<dict>
								<key>key</key>
								<string>SETTINGS.USER_PROFILE_SECTION.HEADER_TITLE</string>
								<key>keytail</key>
								<string>HEADER_TITLE</string>
								<key>translation</key>
								<string>User Profile Settings</string>
							</dict>
							<dict>
								<key>key</key>
								<string>settings.user_profile_section.points</string>
								<key>keytail</key>
								<string>points</string>
								<key>parameters</key>
								<array>
									<string>String</string>
									<string>Int</string>
								</array>
								<key>params</key>
								<dict>
									<key>count</key>
									<integer>2</integer>
									<key>declarations</key>
									<array>
										<string>let p0</string>
										<string>let p1</string>
									</array>
									<key>names</key>
									<array>
										<string>p0</string>
										<string>p1</string>
									</array>
									<key>typednames</key>
									<array>
										<string>p0: String</string>
										<string>p1: Int</string>
									</array>
									<key>types</key>
									<array>
										<string>String</string>
										<string>Int</string>
									</array>
								</dict>
								<key>translation</key>
								<string>Welcome %@! You have %d points on your account.</string>
							</dict>
						</array>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<key>tableName</key>
	<string>Localizable</string>
</dict>
</plist>
