<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>enumName</key>
	<string>CustomFamily</string>
	<key>families</key>
	<array>
		<dict>
			<key>fonts</key>
			<array>
				<dict>
					<key>fontName</key>
					<string>.SFNSDisplay-Black</string>
					<key>style</key>
					<string>Black</string>
				</dict>
				<dict>
					<key>fontName</key>
					<string>.SFNSDisplay-Bold</string>
					<key>style</key>
					<string>Bold</string>
				</dict>
				<dict>
					<key>fontName</key>
					<string>.SFNSDisplay-Heavy</string>
					<key>style</key>
					<string>Heavy</string>
				</dict>
				<dict>
					<key>fontName</key>
					<string>.SFNSDisplay-Regular</string>
					<key>style</key>
					<string>Regular</string>
				</dict>
			</array>
			<key>name</key>
			<string>.SF NS Display</string>
		</dict>
		<dict>
			<key>fonts</key>
			<array>
				<dict>
					<key>fontName</key>
					<string>.SFNSText-Bold</string>
					<key>style</key>
					<string>Bold</string>
				</dict>
				<dict>
					<key>fontName</key>
					<string>.SFNSText-Heavy</string>
					<key>style</key>
					<string>Heavy</string>
				</dict>
				<dict>
					<key>fontName</key>
					<string>.SFNSText-Regular</string>
					<key>style</key>
					<string>Regular</string>
				</dict>
			</array>
			<key>name</key>
			<string>.SF NS Text</string>
		</dict>
		<dict>
			<key>fonts</key>
			<array>
				<dict>
					<key>fontName</key>
					<string>Avenir-Black</string>
					<key>style</key>
					<string>Black</string>
				</dict>
				<dict>
					<key>fontName</key>
					<string>Avenir-BlackOblique</string>
					<key>style</key>
					<string>Black Oblique</string>
				</dict>
				<dict>
					<key>fontName</key>
					<string>Avenir-Book</string>
					<key>style</key>
					<string>Book</string>
				</dict>
				<dict>
					<key>fontName</key>
					<string>Avenir-BookOblique</string>
					<key>style</key>
					<string>Book Oblique</string>
				</dict>
				<dict>
					<key>fontName</key>
					<string>Avenir-Heavy</string>
					<key>style</key>
					<string>Heavy</string>
				</dict>
				<dict>
					<key>fontName</key>
					<string>Avenir-HeavyOblique</string>
					<key>style</key>
					<string>Heavy Oblique</string>
				</dict>
				<dict>
					<key>fontName</key>
					<string>Avenir-Light</string>
					<key>style</key>
					<string>Light</string>
				</dict>
				<dict>
					<key>fontName</key>
					<string>Avenir-LightOblique</string>
					<key>style</key>
					<string>Light Oblique</string>
				</dict>
				<dict>
					<key>fontName</key>
					<string>Avenir-Medium</string>
					<key>style</key>
					<string>Medium</string>
				</dict>
				<dict>
					<key>fontName</key>
					<string>Avenir-MediumOblique</string>
					<key>style</key>
					<string>Medium Oblique</string>
				</dict>
				<dict>
					<key>fontName</key>
					<string>Avenir-Oblique</string>
					<key>style</key>
					<string>Oblique</string>
				</dict>
				<dict>
					<key>fontName</key>
					<string>Avenir-Roman</string>
					<key>style</key>
					<string>Roman</string>
				</dict>
			</array>
			<key>name</key>
			<string>Avenir</string>
		</dict>
		<dict>
			<key>fonts</key>
			<array>
				<dict>
					<key>fontName</key>
					<string>ZapfDingbatsITC</string>
					<key>style</key>
					<string>Regular</string>
				</dict>
			</array>
			<key>name</key>
			<string>Zapf Dingbats</string>
		</dict>
		<dict>
			<key>fonts</key>
			<array>
				<dict>
					<key>fontName</key>
					<string>private</string>
					<key>style</key>
					<string>internal</string>
				</dict>
			</array>
			<key>name</key>
			<string>public</string>
		</dict>
	</array>
	<key>param</key>
	<dict>
		<key>enumName</key>
		<string>CustomFamily</string>
	</dict>
</dict>
</plist>
