<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>extraImports</key>
	<array>
		<string>PrefsWindowController</string>
	</array>
	<key>modules</key>
	<array>
		<string>PrefsWindowController</string>
	</array>
	<key>sceneEnumName</key>
	<string>XCTStoryboardsScene</string>
	<key>segueEnumName</key>
	<string>XCTStoryboardsSegue</string>
	<key>storyboards</key>
	<array>
		<dict>
			<key>name</key>
			<string>AdditionalImport</string>
			<key>scenes</key>
			<array>
				<dict>
					<key>class</key>
					<string>DBPrefsWindowController</string>
					<key>identifier</key>
					<string>private</string>
					<key>isBaseViewController</key>
					<false/>
					<key>isInitial</key>
					<false/>
					<key>module</key>
					<string>PrefsWindowController</string>
					<key>reuseIdentifiers</key>
					<array/>
					<key>segues</key>
					<array/>
					<key>type</key>
					<string>PrefsWindowController.DBPrefsWindowController</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>Anonymous</string>
			<key>scenes</key>
			<array/>
		</dict>
		<dict>
			<key>name</key>
			<string>Dependency</string>
			<key>scenes</key>
			<array>
				<dict>
					<key>class</key>
					<string>NSViewController</string>
					<key>identifier</key>
					<string>Dependent</string>
					<key>isBaseViewController</key>
					<true/>
					<key>isInitial</key>
					<false/>
					<key>module</key>
					<string>Cocoa</string>
					<key>reuseIdentifiers</key>
					<array/>
					<key>segues</key>
					<array/>
					<key>type</key>
					<string>Cocoa.NSViewController</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>Message</string>
			<key>scenes</key>
			<array>
				<dict>
					<key>class</key>
					<string>NSViewController</string>
					<key>identifier</key>
					<string>MessageDetails</string>
					<key>isBaseViewController</key>
					<true/>
					<key>isInitial</key>
					<false/>
					<key>module</key>
					<string>Cocoa</string>
					<key>reuseIdentifiers</key>
					<array/>
					<key>segues</key>
					<array>
						<dict>
							<key>class</key>
							<string>NSStoryboardSegue</string>
							<key>destinationType</key>
							<string>Cocoa.NSViewController</string>
							<key>kind</key>
							<string>show</string>
							<key>module</key>
							<string>Cocoa</string>
							<key>storyboardId</key>
							<string>Show</string>
							<key>type</key>
							<string>Cocoa.NSStoryboardSegue</string>
						</dict>
						<dict>
							<key>class</key>
							<string>NSStoryboardSegue</string>
							<key>destinationType</key>
							<string>Cocoa.NSViewController</string>
							<key>kind</key>
							<string>sheet</string>
							<key>module</key>
							<string>Cocoa</string>
							<key>storyboardId</key>
							<string>Sheet</string>
							<key>type</key>
							<string>Cocoa.NSStoryboardSegue</string>
						</dict>
						<dict>
							<key>class</key>
							<string>NSStoryboardSegue</string>
							<key>destinationType</key>
							<string>Cocoa.NSViewController</string>
							<key>kind</key>
							<string>popover</string>
							<key>module</key>
							<string>Cocoa</string>
							<key>storyboardId</key>
							<string>Popover</string>
							<key>type</key>
							<string>Cocoa.NSStoryboardSegue</string>
						</dict>
						<dict>
							<key>class</key>
							<string>NSStoryboardSegue</string>
							<key>destinationType</key>
							<string>Cocoa.NSViewController</string>
							<key>kind</key>
							<string>modal</string>
							<key>module</key>
							<string>Cocoa</string>
							<key>storyboardId</key>
							<string>Modal</string>
							<key>type</key>
							<string>Cocoa.NSStoryboardSegue</string>
						</dict>
						<dict>
							<key>class</key>
							<string>NSStoryboardSegue</string>
							<key>destinationType</key>
							<string>Cocoa.NSViewController</string>
							<key>kind</key>
							<string>custom</string>
							<key>module</key>
							<string>Cocoa</string>
							<key>storyboardId</key>
							<string>public</string>
							<key>type</key>
							<string>Cocoa.NSStoryboardSegue</string>
						</dict>
					</array>
					<key>type</key>
					<string>Cocoa.NSViewController</string>
				</dict>
				<dict>
					<key>class</key>
					<string>NSViewController</string>
					<key>identifier</key>
					<string>MessageList</string>
					<key>isBaseViewController</key>
					<true/>
					<key>isInitial</key>
					<false/>
					<key>module</key>
					<string>Cocoa</string>
					<key>reuseIdentifiers</key>
					<array/>
					<key>segues</key>
					<array>
						<dict>
							<key>class</key>
							<string>NSStoryboardSegue</string>
							<key>destinationType</key>
							<string>Cocoa.NSViewController</string>
							<key>kind</key>
							<string>embed</string>
							<key>module</key>
							<string>Cocoa</string>
							<key>storyboardId</key>
							<string>Embed</string>
							<key>type</key>
							<string>Cocoa.NSStoryboardSegue</string>
						</dict>
					</array>
					<key>type</key>
					<string>Cocoa.NSViewController</string>
				</dict>
				<dict>
					<key>class</key>
					<string>NSViewController</string>
					<key>identifier</key>
					<string>MessageListFooter</string>
					<key>isBaseViewController</key>
					<true/>
					<key>isInitial</key>
					<false/>
					<key>module</key>
					<string>Cocoa</string>
					<key>reuseIdentifiers</key>
					<array/>
					<key>segues</key>
					<array/>
					<key>type</key>
					<string>Cocoa.NSViewController</string>
				</dict>
				<dict>
					<key>class</key>
					<string>CustomTabViewController</string>
					<key>identifier</key>
					<string>MessagesTab</string>
					<key>isBaseViewController</key>
					<false/>
					<key>isInitial</key>
					<false/>
					<key>module</key>
					<string>Cocoa</string>
					<key>reuseIdentifiers</key>
					<array/>
					<key>segues</key>
					<array/>
					<key>type</key>
					<string>Cocoa.CustomTabViewController</string>
				</dict>
				<dict>
					<key>class</key>
					<string>NSSplitViewController</string>
					<key>identifier</key>
					<string>SplitMessages</string>
					<key>isBaseViewController</key>
					<false/>
					<key>isInitial</key>
					<false/>
					<key>module</key>
					<string>Cocoa</string>
					<key>reuseIdentifiers</key>
					<array/>
					<key>segues</key>
					<array/>
					<key>type</key>
					<string>Cocoa.NSSplitViewController</string>
				</dict>
				<dict>
					<key>class</key>
					<string>NSWindowController</string>
					<key>identifier</key>
					<string>WindowCtrl</string>
					<key>isBaseViewController</key>
					<false/>
					<key>isInitial</key>
					<false/>
					<key>module</key>
					<string>Cocoa</string>
					<key>reuseIdentifiers</key>
					<array/>
					<key>segues</key>
					<array/>
					<key>type</key>
					<string>Cocoa.NSWindowController</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>Placeholder</string>
			<key>scenes</key>
			<array>
				<dict>
					<key>class</key>
					<string>NSControllerPlaceholder</string>
					<key>identifier</key>
					<string>Dependent</string>
					<key>isBaseViewController</key>
					<false/>
					<key>isInitial</key>
					<false/>
					<key>module</key>
					<string>Cocoa</string>
					<key>reuseIdentifiers</key>
					<array/>
					<key>segues</key>
					<array/>
					<key>type</key>
					<string>Cocoa.NSControllerPlaceholder</string>
				</dict>
				<dict>
					<key>class</key>
					<string>NSWindowController</string>
					<key>identifier</key>
					<string>Window</string>
					<key>isBaseViewController</key>
					<false/>
					<key>isInitial</key>
					<false/>
					<key>module</key>
					<string>Cocoa</string>
					<key>reuseIdentifiers</key>
					<array/>
					<key>segues</key>
					<array/>
					<key>type</key>
					<string>Cocoa.NSWindowController</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
