<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>modules</key>
	<array/>
	<key>platform</key>
	<string>macOS</string>
	<key>storyboards</key>
	<array>
		<dict>
			<key>name</key>
			<string>Anonymous</string>
			<key>platform</key>
			<string>macOS</string>
			<key>scenes</key>
			<array>
				<dict>
					<key>baseType</key>
					<string>ViewController</string>
					<key>identifier</key>
					<string></string>
					<key>segues</key>
					<array>
						<dict>
							<key>customClass</key>
							<string></string>
							<key>customModule</key>
							<string></string>
							<key>destination</key>
							<dict>
								<key>baseType</key>
								<string>SplitViewController</string>
							</dict>
							<key>identifier</key>
							<string></string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>baseType</key>
					<string>ViewController</string>
					<key>identifier</key>
					<string></string>
					<key>segues</key>
					<array>
						<dict>
							<key>customClass</key>
							<string></string>
							<key>customModule</key>
							<string></string>
							<key>destination</key>
							<dict>
								<key>baseType</key>
								<string>SplitViewController</string>
							</dict>
							<key>identifier</key>
							<string></string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>baseType</key>
					<string>WindowController</string>
					<key>identifier</key>
					<string></string>
					<key>segues</key>
					<array>
						<dict>
							<key>customClass</key>
							<string></string>
							<key>customModule</key>
							<string></string>
							<key>destination</key>
							<dict>
								<key>baseType</key>
								<string>SplitViewController</string>
							</dict>
							<key>identifier</key>
							<string></string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>baseType</key>
					<string>SplitViewController</string>
					<key>identifier</key>
					<string></string>
					<key>segues</key>
					<array>
						<dict>
							<key>customClass</key>
							<string></string>
							<key>customModule</key>
							<string></string>
							<key>destination</key>
							<dict>
								<key>baseType</key>
								<string>SplitViewController</string>
							</dict>
							<key>identifier</key>
							<string></string>
						</dict>
					</array>
				</dict>
			</array>
			<key>segues</key>
			<array/>
		</dict>
	</array>
</dict>
</plist>
